*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    background-color: #1E172F;
    display: flex;
    justify-content: space-around;

}
.option{
    display: flex;
    align-items: center;
    color: white;
}
#option{
    margin-left: 5vh;
}
#option1
{
    margin-left: 5vh;
    background: linear-gradient(to right, rgb(149, 42, 250), rgb(50, 98, 255));
    padding: 10px;
    border-radius: 1vh;
}
#section1{
    display: flex;
    justify-content: space-between;
}
#text1{
    background-color: #2E2550;
 color: white;
 width: 50%;
 display: flex;
 flex-direction: column;

}
#tittle{
    margin-left: 30vh;
    margin-top: 15vh;
    font-size: 10vh;
    max-width: 10vh;
}
#infotext1{
    margin-top: 5vh;
    margin-left: 30vh;
    margin-bottom: 5vh;
}
#ilustration{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/hojasFondo.jpg");
    background-position: center;
    width: 50%;
}
#phone{
    margin-top: 10vh;
    margin-bottom:10vh ;
    margin-left: 20vh;
}
#btns{
    position: relative;
    display: flex;   
  padding: 5px;
  padding-right: 5px; 
  padding-left: -20px;
   border: white solid;
   border-width: 1px;
  border-radius: 10px;
   width: 30vh;
   margin-left: 30vh;
   
}
#btn1{
   margin-left: 1vh;
   border-radius: 6px;
    width: 20vh;
    height: 5vh;
    background-color: white;
    color:  rgb(250, 42, 233);
    font-size: 17px;
    
    
}
#btn2{
    margin-left: 1vh;
    border-radius: 6px;
    font-size: 20px;
     width: 20vh;
     height: 5vh;
     background-color: #2E2550;
     color: white;
     border: white solid;
     border-width: 2px;
 }
 #list1 {
  
    list-style-type: none;
  }
  
  #list1 #obj1 {
    padding-left: 2rem;
    background-image: url(../assets/img/icons8-estrella-24_1.png);
    background-position: 0 0;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }
  #section2{
    display: flex;
    align-items: flex-start;
    background-color: #F1F2F7;
  }
  #tittle2{
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    font-size: 8vh;
    color: #F41486;
    background-color: #F1F2F7;
  }
  #laptop{
    max-width: 80vh;
    padding: 20vh;
  }
.tittlealpha{
    font-size: 5vh;
    padding-top: 20vh;
    padding-bottom: 5vh;
    color: #C5558E;
}
#infoalpha{
    max-width: 45vh;
}
.tittlelist{
    padding-top: 2ch;
    padding-bottom: 1ch;
    color: #F41486;
    font-size: 2.5vh;
}
#informationplans{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E172F;
}
#tittlepricing{
    font-size: 5vh;
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.informationpricing{
    color: white;
    max-width: 80vh;
    text-align: center;
}
#section3{
    background-color: #1E172F;
    padding-bottom: 10vh;

}
#lite{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40vh;
    border-radius: 10px;
    align-items: center;
}
#tarjet{
    display: flex;
    justify-content: center;
    gap: 10vh;
    padding-top: 15vh;
}
.imgpricing{
    max-width: 10vh;
    padding-top: 5vh;
}
#nameplans{
    font-size: 4vh;
}
.pricing{
    background-color: #F5F5F5;
    font-size: 2vh;
    display: flex;
    width: 100%;
    justify-content: center;
}
.pricing2{
    background-color: #F5F5F5;
    font-size: 2vh;
    display: flex;
    width: 100%;
    justify-content: center;
}
#prng{
    font-size: 5vh;
    margin-right: 1vh;
}
#listprng {
  padding-top: 2vh;
    list-style-type: none;
  }
  
  #listprng #objprng {
    padding-left: 4rem;
    padding-right: 6rem;
    background-image: url(../assets/img/icons8-marca-de-verificacion-24.png);
    background-position: 0 0;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }
  #listprng #objprng1 {
    padding-left: 4rem;
    padding-right: 6rem;
    background-image: url(../assets/img/icons8-estrella-24_1.png);
    background-position: 0 0;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    
  }
  #listprng #objprng2 {
    padding-left: 4rem;
    padding-right: 6rem;
    background-image: url(../assets/img/icons8-x-50.png);
    background-position: 0 0;
    background-size: 15px 15px;
    background-repeat: no-repeat;
  }
  #infpricing{
    max-width: 25vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  #btnbuy {
    display: flex;
    justify-content: center;
padding-top: 1vh;
padding-bottom: 1vh;
    display: flex;
    background-color: #F5F5F5;
    width: 100%;
    border-radius: 10px;
}
  .btnbuy{
    border-radius: 5px;
    width: 20vh;
    height: 5vh;
    color: white;
    font-size: larger;
    background-color: #2E2550;
  }