*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    background-color: #1E172F;
    display: flex;
    justify-content: space-around;

}
.option{
    display: flex;
    align-items: center;
    color: white;
}
#option{
    margin-left: 5vh;
}
#option1
{
    margin-left: 5vh;
    background: linear-gradient(to right, rgb(149, 42, 250), rgb(50, 98, 255));
    padding: 10px;
    border-radius: 1vh;
}
#section1{
    display: flex;
    justify-content: space-between;
}
#text1{
    background-color: #2E2550;
 color: white;
 width: 50%;
 display: flex;
 flex-direction: column;
}
#tittle{
    font-size: 10vh;
    max-width: 5vh;
}
#infotext1{
    max-width: 60vh;
}
#ilustration{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/hojasFondo.jpg");
    background-position: center;
    width: 50%;
}
#phone{
    margin-top: 10vh;
    margin-bottom:10vh ;
    margin-left: 20vh;
}
